@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-urbanist);
  --font-jakarta: var(--font-plus-jakarta);
  --font-bowlby: var(--font-bowlby);
}
 
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #6232C2, #9F54DF);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 4%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2%;
  }
}


